{:paths ["src" "resources"]

 :deps  {org.clojure/tools.cli       {:mvn/version "1.0.206"}
         org.clojure/core.async      {:mvn/version "1.5.648"}
         org.clojure/tools.logging   {:mvn/version "1.2.4"}
         org.clojure/data.xml        {:mvn/version "0.2.0-alpha6"}
         cheshire/cheshire           {:mvn/version "5.11.0"}
         com.grzm/awyeah-api         {:git/url "https://github.com/grzm/awyeah-api"
                                      :git/sha "e2d1c351bad88666b02b1e230fe29e3495cc5894"}
         com.cognitect.aws/endpoints {:mvn/version "1.1.12.257"}
         com.cognitect.aws/sts       {:mvn/version "822.2.1145.0"}
         com.cognitect.aws/iam       {:mvn/version "822.2.1171.0"}}

 :aliases
 {:build
  {:deps       {io.github.clojure/tools.build {:git/tag "v0.8.3" :git/sha "0d20256"}}
   :ns-default build}}}
